{#
/**
 * @file
 * Template for the Supermailer confirmation e-mail.
 *
 * Available variables:
 * - confirmation_url: The confirmation url.
 *
 * @ingroup themeable
 */
#}
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <p>Thank you for subscribing to our newsletter!</p>
      <p>In order that your email address is included in our newsletter distribution list, please confirm your registration by clicking on the following link:</p>
      <p><a href="{{ confirmation_url }}">{{ confirmation_url }}</a></p>
      <p>If the link is not clickable, please copy the link text and paste it into the address line of your browser.</p>
      <p>You don't want to be included in our newsletter or your email address was entered on our website by a stranger? No problem, simply delete this e-mail, you will not be included in our newsletter mailing list!</p>
    </td>
  </tr>
  </tbody>
</table>
